.card {
	padding: var(--mantine-spacing-lg);
	height: 100%;
	box-shadow: var(--mantine-shadow-xs);
	transition: 0.25s all ease;

	@include larger-than($mantine-breakpoint-lg) {
		padding: var(--mantine-spacing-xl);
	}

	@include hover {
		box-shadow: var(--mantine-shadow-md);

		.title {
			color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
		}
		.titleFeatured {
			color: light-dark(var(--mantine-color-sec-4), var(--mantine-color-sec-4));
		}

		.badge {
			background-color: light-dark(var(--mantine-color-sec-4), var(--mantine-color-sec-4));
			color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
		}
		.badgeFeatured {
			background-color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
		}
	}
}

.badge {
	transition: 0.25s all ease;
	border-radius: var(--mantine-radius-sm);
	background-color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
}

.badgeFeatured {
	transition: 0.25s all ease;
	border-radius: var(--mantine-radius-sm);
	background-color: light-dark(var(--mantine-color-sec-4), var(--mantine-color-sec-4));
	color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
}

.title {
	transition: 0.25s all ease;
}

.titleFeatured {
	transition: 0.25s all ease;
}

.list {
	font-size: var(--mantine-font-size-xs);

	@include larger-than($mantine-breakpoint-lg) {
		font-size: var(--mantine-font-size-sm);
	}
}
