.dropdown {
  padding: 0 !important;
  overflow: hidden;
  background-color: var(--mantine-color-body) !important;
  min-width: 160px !important;
  z-index: 10 !important;
  border: 0px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.item {
  transition: 0.2s all ease !important;
  border-radius: 0;
  overflow: hidden;
  align-items: start;
  font-weight: 500;
  color: var(--mantine-color-pri-8) !important;
  margin-right: var(--mantine-spacing-xs);

  @include mantine.hover {
    background-color: var(--mantine-color-gray-1);
  }
}

.itemSection {
  color: var(--mantine-color-sec-5) !important;
}

.itemActive {
  background-color: var(--mantine-color-gray-2);
}
