/* classes.scss */
.dropdown {
  position: absolute !important;
  left: 0 !important;
  /* Remove 'top' if you want it to sit naturally below the target */
  width: 100% !important;
  max-width: 100% !important;

  /* Reset Mantine's default transform-origin and offsets */
  transform: none !important;
  left: 50% !important;
  transform: translateX(
    -50%
  ) !important; /* Centers the 100% div relative to the screen */

  border-radius: 0;
  padding: var(--mantine-spacing-xl) 0 !important;
}

.item {
  transition: 0.2s all ease !important;
  overflow: hidden;
  align-items: start;
  font-weight: 500;
  color: var(--mantine-color-pri-8) !important;
  margin-right: var(--mantine-spacing-xs);
  background-color: transparent;

  @include mantine.hover {
    h2 {
      color: var(--mantine-color-sec-4) !important;
    }
  }
}

.itemSection {
  color: var(--mantine-color-sec-5) !important;
}

.itemActive {
  background-color: var(--mantine-color-gray-1);
}
