.card {
  @include mantine.hover {
    .overlay {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000000, $alpha: 0.33);
  transition: 0.25s all ease;
}

.title {
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
  letter-spacing: calc(var(--mantine-spacing-xs) / 2);
}
