.card {
	height: 100%;
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
	box-shadow: var(--mantine-shadow-xs);

	@include hover {
		.image {
			transform: scale(1.05);
		}

		.overlay {
			background-color: rgba($color: #000000, $alpha: 0.05);
		}

		.overlayContent {
			opacity: 0;
		}
	}
}

.imageSection {
	background-color: var(--mantine-color-white);
	position: relative;
	box-shadow: var(--mantine-shadow-xs);
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	padding: var(--mantine-spacing-md);
	background-color: rgba($color: #000000, $alpha: 0.1);
	transition: 0.25s all ease;
}

.overlayContent {
	transition: 0.25s all ease;
	opacity: 1;
}

.imageContainer {
	overflow: hidden;
}

.image {
	transition: 0.25s all ease;
	transform: scale(0.95);
	padding: 0 var(--mantine-spacing-xl);
}

.title {
}
