.card {
	transition: 0.25s all ease;
	background-color: light-dark(var(--mantine-color-sec-light), var(--mantine-color-sec-light));
	padding: var(--mantine-spacing-xl);
	border-radius: var(--mantine-radius-sm);
	overflow: hidden;
	height: 100%;
	box-shadow: var(--mantine-shadow-xs);

	@include hover {
		box-shadow: var(--mantine-shadow-sm);

		.title {
			color: var(--mantine-color-sec-3);
		}
	}
}

.icon {
	transition: 0.25s all ease;
	color: var(--mantine-color-sec-3);
}

.title {
	transition: 0.25s all ease;
	color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
	font-size: var(--mantine-font-size-lg);
}

.desc {
	font-size: var(--mantine-font-size-sm);
}
