.link {
  padding: 1.5rem 0.75rem;
  font-size: var(--mantine-font-size-md);
  color: inherit !important;
  text-decoration: inherit !important;
  transition: 0.25s color ease;
  font-weight: 500;

  @include mantine.hover {
    color: var(--mantine-color-sec-4) !important;
  }
}

.linkAbsolute {
  padding: 1.5rem 0.75rem;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-white) !important;
  transition: 0.25s color ease;

  @include mantine.hover {
    color: var(--mantine-color-sec-4) !important;
  }
}

.linkActive {
  color: var(--mantine-color-sec-4);
}
