.card {
	background-color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
	padding: var(--mantine-spacing-xl);
	border-radius: var(--mantine-radius-sm);
}

.title {
	color: light-dark(var(--mantine-color-white), var(--mantine-color-white)) !important;
}
