.card {
	background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-1));
	box-shadow: var(--mantine-shadow-xs);
	border-radius: var(--mantine-radius-sm);
	height: 100%;
	padding: var(--mantine-padding-sm);

	@include hover {
		.image {
			transform: scale(1.1);
		}
	}
}

.imageContainer {
	overflow: hidden;
}

.image {
	transition: 0.25s all ease;
	transform: scale(1.05);
}

.title {
}
