.card {
	transition: 0.25s all ease;
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
	border-radius: var(--mantine-radius-sm);
	padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
	box-shadow: var(--mantine-shadow-xs);
	height: 100%;

	@include hover {
		.icon {
			background-color: var(--mantine-color-sec-3);
			color: var(--mantine-color-pri-6);
		}

		.title {
			color: var(--mantine-color-sec-3);
		}
	}
}

.icon {
	transition: 0.25s all ease;
	color: var(--mantine-color-sec-3);
}
