.header {
  padding: 0;
}

.body {
  padding: 0;
}

.footer {
  padding: 0;
}

.content {
  padding: var(--mantine-spacing-sm);
  padding-top: var(--mantine-spacing-sm);
}

.header {
  margin-bottom: 0.5rem;
}
