.footer {
  background-color: var(--mantine-color-body);
  border-top: 1px solid var(--mantine-color-default-border);
}

.listItem {
  text-align: start;

  @include mantine.smaller-than(mantine.$mantine-breakpoint-md) {
    text-align: center;
  }
}

.link {
  color: light-dark(var(--mantine-color-text), var(--mantine-color-text));
  transition: 0.25s all ease;

  @include mantine.hover {
    color: var(--mantine-color-pri-8);
  }
}
