.header {
	background-color: var(--mantine-color-pri-6);
	border-bottom: 2px solid var(--mantine-color-sec-3);
	padding: calc(var(--mantine-spacing-xs) / 2) 0;
}

.link {
	transition: 0.25s all ease;

	color: var(--mantine-color-white);
	text-decoration: none;
	font-size: var(--mantine-font-size-xs);

	@media (min-width: $mantine-breakpoint-lg) {
		font-size: var(--mantine-font-size-sm);

		@include hover {
			color: var(--mantine-color-sec-3);
		}
	}
}
