.content {
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;

  @include mantine.hover {
    .control {
      opacity: 0.75;
    }
  }
}

.body {
  padding: 0;
}

.control {
  transition: 0.25s all ease;

  opacity: 0;
  background-color: var(--mantine-color-pri-8);
  color: var(--mantine-color-sec-3);
}

.indicator {
  background-color: var(--mantine-color-pri-8);
  // color: var(--mantine-color-sec-3);
}
