.imageContainer {
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);
}

.imageOuter {
  transform: scale(1.1);
  transition: 0.25s all ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
