.link {
  padding: 1.5rem 0;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-text) !important;
  transition: 0.25s color ease;
  font-weight: 500;

  @include mantine.hover {
    color: var(--mantine-color-pri-8) !important;
  }
}

.linkAbsolute {
  padding: 1.5rem 0;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-white) !important;
  transition: 0.25s color ease;

  @include mantine.hover {
    color: var(--mantine-color-pri-8) !important;
  }
}

.linkActive {
  color: var(--mantine-color-pri-8) !important;
}
