.navbar {
  padding: var(--mantine-spacing-xs) 0;
}

.link {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-text) !important;
  transition: 0.25s color ease;

  @include hover {
    color: var(--mantine-color-pri-9) !important;
  }
}

.linkAbsolute {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white) !important;
  transition: 0.25s color ease;
  font-weight: bold;

  @include hover {
    color: var(--mantine-color-sec-3) !important;
  }
}

.linkActive {
  font-weight: bold;
  color: var(--mantine-color-pri-9) !important;
}
