.card {
	background-color: var(--mantine-color-gray-1);
	box-shadow: var(--mantine-shadow-sm);
	padding-top: 0;
	border-radius: var(--mantine-radius-xs);
	overflow: hidden;

	@include hover {
		.image {
			transform: scale(1.05);
		}

		.title {
			color: var(--mantine-color-pri-6);
		}

		.overlay {
			opacity: 1;
		}
	}
}

.imageContainer {
	overflow: hidden;
	height: 200px;
}

.image {
	transition: 0.25s all ease;
	transform: scale(1.1);
}

.title {
	transition: 0.25s all ease;
}

.overlay {
	transition: 0.25s all ease;

	position: absolute;
	left: 8px;
	bottom: 8px;
	right: 8px;

	opacity: 0.5;
}
