.navbar {
	padding: var(--mantine-spacing-xs) 0;
	background-color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-9));
}

.logo {
	width: 40px;
	height: 40px;

	@include smaller-than($mantine-breakpoint-xs) {
		width: 32px;
		height: 32px;
	}
}
