.section {
  background-size: cover !important;
  background-position: center center !important;
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
  position: relative !important;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000000, $alpha: 0.3);
}
