.chat {
	background-color: var(--mantine-color-green-6);
	padding: calc(var(--mantine-spacing-xs) / 2) 0;
	padding-left: var(--mantine-spacing-xs);
	padding-right: calc(var(--mantine-spacing-xs) / 2);
	border-top-left-radius: var(--mantine-radius-xl);
	border-bottom-left-radius: var(--mantine-radius-xl);
	transition: 0.25s all ease;

	&:hover {
		.icon {
			transform: scale(1);
		}
	}
}

.icon {
	transform: scale(0.95);
	transition: 0.25s all ease;
}
