.card {
  // background-color: light-dark(var(--mantine-color-pri-7), var(--mantine-color-pri-7));
  border-radius: var(--mantine-radius-sm);
  height: 100%;
}

.stat {
  color: light-dark(
    var(--mantine-color-sec-3),
    var(--mantine-color-sec-3)
  ) !important;
}

.title {
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
}
