.section {
  background-size: 33%;
  background-repeat: repeat;
  background-position: center center;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000000, $alpha: 0.6);
}
