html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);

  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--mantine-color-sec-light);
  // border-radius: var(--mantine-radius-sm);
}

::-webkit-scrollbar-thumb {
  background: var(--mantine-color-sec-3);
  // border-radius: var(--mantine-radius-sm);
}

/* Firefox */
element {
  scrollbar-color: var(--mantine-color-sec-3) var(--mantine-color-sec-light);
  scrollbar-width: 8px;
}
