:root {
  --background: var(--mantine-color-body);
  --foreground: var(--mantine-color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--mantine-color-body);
    --foreground: var(--mantine-color-text);
  }
}

html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// markdown
.markdown-content {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: left;
  color: #333;
  max-width: 100%;
  overflow-wrap: break-word;
}

/* Headings */
.markdown-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.markdown-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.markdown-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Lists */
.markdown-content ul,
.markdown-content ol {
  margin: var(--mantine-spacing-xs) 0;
  padding-left: 1.5rem;
}

.markdown-content ul {
  list-style-type: disc;
}

.markdown-content ol {
  list-style-type: decimal;
}

/* Nested lists */
.markdown-content ul ul,
.markdown-content ol ol,
.markdown-content ul ol,
.markdown-content ol ul {
  padding-left: 1rem;
  list-style-type: circle; /* Change for deeper nesting */
}

/* Blockquotes */
.markdown-content blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  font-style: italic;
  color: #666;
  margin: 1rem 0;
}

/* Inline code */
.markdown-content code {
  font-family: 'Courier New', monospace;
  background: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95rem;
}

/* Code blocks */
.markdown-content pre {
  background: #282c34;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}

.markdown-content pre code {
  background: none;
  padding: 0;
  font-size: 0.95rem;
}

/* Links */
.markdown-content a {
  color: #007bff;
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

/* Tables */
.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.markdown-content th,
.markdown-content td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-content th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: left;
}
