.footer {
  background-color: var(--mantine-color-body);
  // border-top: 1px solid var(--mantine-color-default-border);
}

.listItem {
  text-align: start;
}

.link {
  color: var(--mantine-color-gray-5);
  font-weight: 500;
  transition: 0.25s all ease;

  @include mantine.hover {
    color: var(--mantine-color-sec-3);
  }
}
