.control {
  transition: 0.25s all ease;
  border-radius: 0;
  background-color: light-dark(
    var(--mantine-color-sec-3),
    var(--mantine-color-sec-3)
  );
  color: light-dark(var(--mantine-color-pri-8), var(--mantine-color-pri-8));

  @include mantine.hover {
    background-color: light-dark(
      var(--mantine-color-pri-8),
      var(--mantine-color-pri-8)
    );
    color: light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));

    .label {
      color: light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));
    }

    .icon {
      color: light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));
    }
  }
}

.label {
  transition: 0.25s all ease;
  font-weight: 500;
}

.icon {
  transition: 0.25s all ease;
}

.item {
  border-radius: var(--mantine-radius-lg);
  border-bottom: 0px solid inherit;
  box-shadow: var(--mantine-shadow-xs);
  border: 1px solid
    light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
  overflow: hidden;
}

.content {
  padding-top: var(--mantine-spacing-md);
  // background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
}
