.card {
  position: relative;
}

/* Replicates Mantine's hover mixin (applies hover only on devices with hover support) */
@media (hover: hover) {
  .card:hover .overlay {
    opacity: 0;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  padding: var(--mantine-spacing-md);
  opacity: 1;
  transition: 0.25s all ease;
}
