.imageContainer {
	padding: var(--mantine-spacing-xl) 0;
	border: 2px solid var(--mantine-color-pri-light);
	border-radius: var(--mantine-radius-sm);
	background-color: var(--mantine-color-white);
	overflow: hidden;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	padding: var(--mantine-spacing-xs);
}
