@keyframes colorChange {
  0% {
    background-color: light-dark(
      var(--mantine-color-pri-8),
      var(--mantine-color-pri-8)
    );
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  }
  50% {
    background-color: light-dark(
      var(--mantine-color-sec-3),
      var(--mantine-color-sec-3)
    );
    // color: light-dark(var(--mantine-color-pri-8), var(--mantine-color-pri-8));
  }
  100% {
    background-color: light-dark(
      var(--mantine-color-pri-8),
      var(--mantine-color-pri-8)
    );
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  }
}

.child {
  animation: colorChange 10s infinite;
  border-top-left-radius: var(--mantine-radius-lg);
  border-bottom-left-radius: var(--mantine-radius-lg);

  @include mantine.hover {
    cursor: pointer;
  }
}
