.badge {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    color: var(--mantine-color-white);
  }
  50% {
    color: var(--mantine-color-sec-4);
  }
  100% {
    color: var(--mantine-color-white);
  }
}
