.slide {
  color: var(--mantine-color-white);
}

.control {
  transition: 0.25s all ease;
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--mantine-color-white);

  @include mantine.hover {
    background-color: var(--mantine-color-pri-8);
    color: var(--mantine-color-sec-3);
  }
}

.title {
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;

  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  );
}

.underlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
