.root {
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-3));

  @include mantine.hover {
    .controls {
      opacity: 1;
    }
  }
}

.controls {
  transition: 0.25s all ease;
  opacity: 0;
}

.control {
  border: 1px solid transparent;
  background-color: light-dark(
    var(--mantine-color-pri-7),
    var(--mantine-color-pri-7)
  );
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}

.indicator {
  border: 1px solid transparent;
  background-color: light-dark(
    var(--mantine-color-pri-7),
    var(--mantine-color-pri-7)
  );
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}
