.slide {
  color: var(--mantine-color-white);
}

.link {
  transition: 0.25s all ease;
  color: var(--mantine-color-sec-3);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: bold;
  border-bottom: 2px solid transparent;

  @include hover {
    color: var(--mantine-color-white);
    border-bottom: 2px solid var(--mantine-color-sec-3);
  }
}

.indicators {
  padding-bottom: var(--mantine-spacing-sm);
}

.indicator {
  background-color: var(--mantine-color-white);
}
