.section {
  background-size: cover !important;
  background-position: center center !important;
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
  position: relative !important;
}
