.link {
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  transition: 0.25s all ease;

  @include mantine.hover {
    color: light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));
  }
}
