.card {
  position: relative;

  @include mantine.hover {
    .overlay {
      opacity: 0;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000000, $alpha: 0.05);
  padding: var(--mantine-spacing-md);
  opacity: 1;
  transition: 0.25s all ease;
}
