.control {
  transition: 0.25s all ease;
  border-radius: 0;
  background-color: var(--mantine-color-gray-2);

  @include mantine.hover {
    background-color: var(--mantine-color-gray-3);
  }
}

.label {
  transition: 0.25s all ease;
  font-weight: 500;
}

.icon {
  transition: 0.25s all ease;
}

.item {
  border-radius: var(--mantine-radius-lg);
  border-bottom: 0px solid inherit;
  box-shadow: var(--mantine-shadow-xs);
  overflow: hidden;
}

.content {
  padding-top: var(--mantine-spacing-md);
}
