@keyframes colorChange {
  0% {
    border-color: light-dark(
      var(--mantine-color-pri-8),
      var(--mantine-color-pri-8)
    );
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  }
  50% {
    border-color: light-dark(
      var(--mantine-color-sec-3),
      var(--mantine-color-sec-3)
    );
  }
  100% {
    border-color: light-dark(
      var(--mantine-color-pri-8),
      var(--mantine-color-pri-8)
    );
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  }
}

.child {
  animation: colorChange 5s infinite;
  border-radius: 99px;
  border: 4px solid
    light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));
  background-color: var(--mantine-color-white);
  box-shadow: var(--mantine-shadow-xs);

  @include mantine.hover {
    cursor: pointer;
  }
}
