.card {
  height: 100%;
  border: 2px dashed
    light-dark(var(--mantine-color-sec-3), var(--mantine-color-sec-3));
  background-color: light-dark(
    var(--mantine-color-pri-9),
    var(--mantine-color-pri-9)
  );
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}

.title {
  color: light-dark(
    var(--mantine-color-sec-3),
    var(--mantine-color-sec-3)
  ) !important;
}
