.card {
  height: 100%;
  border-bottom: 3px dotted var(--mantine-color-pri-7);
  border-right: 3px dotted var(--mantine-color-pri-7);
  background-color: var(--mantine-color-sec-2) !important;
  color: var(--mantine-color-pri-7) !important;
}
