.card {
  transition: 0.1s all ease;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-8)
  );

  @include mantine.hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-7)
    );
  }
}
