.list {
  flex-direction: column;

  @include mantine.larger-than(mantine.$mantine-breakpoint-xs) {
    flex-direction: row;
  }

  @include mantine.larger-than(mantine.$mantine-breakpoint-md) {
    gap: var(--mantine-spacing-md);
  }

  @include mantine.larger-than(mantine.$mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.tab {
  background-color: var(--mantine-color-gray-light);
  justify-content: center;
  flex-wrap: nowrap;

  @include mantine.larger-than(mantine.$mantine-breakpoint-md) {
    padding: var(--mantine-spacing-md);
    justify-content: space-between;
  }

  &[data-active] {
    background-color: var(--mantine-color-pri-7);
    color: var(--mantine-color-sec-3);
  }
}

.tabLabel {
  @include mantine.larger-than(mantine.$mantine-breakpoint-md) {
    font-weight: bold;
    font-size: var(--mantine-font-size-md);
  }
}
