.root {
  border-radius: var(--mantine-radius-lg);
  overflow: hidden;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-3));
}

.control {
  border: 1px solid transparent;
  background-color: light-dark(
    var(--mantine-color-pri-8),
    var(--mantine-color-pri-8)
  );
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}

.indicator {
  border: 1px solid transparent;
  background-color: light-dark(
    var(--mantine-color-pri-8),
    var(--mantine-color-pri-8)
  );
  height: 0.5rem;
  width: 0.5rem;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}
