.container {
  overflow: hidden;
  border-radius: var(--mantine-radius-sm);

  @include hover {
    .image {
      transform: scale(1.1);
    }
  }
}

.image {
  transition: 0.5s all ease;

  transform: scale(1.05);

  @include hover {
    cursor: pointer;
  }
}
