.card {
  height: 100%;
  padding: var(--mantine-spacing-xl);
}

.miniTitle {
  color: light-dark(
    var(--mantine-color-orange-6),
    var(--mantine-color-orange-6)
  );
}

.title {
  color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-black)
  ) !important;
  font-size: calc(var(--mantine-font-size-xl) * 1.5);

  @include larger-than($mantine-breakpoint-md) {
    font-size: calc(var(--mantine-font-size-xl) * 2);
  }
}

.slogan {
}
