.group {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-gray-1)
  );
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-xs);
  overflow: hidden;
}

.input {
  background-color: transparent !important;
  padding: 0px !important;
}
