.card {
  padding: var(--mantine-spacing-lg);
  height: 100%;

  @include larger-than($mantine-breakpoint-lg) {
    padding: var(--mantine-spacing-xl);
  }
}

.list {
  font-size: var(--mantine-font-size-xs);

  @include larger-than($mantine-breakpoint-lg) {
    font-size: var(--mantine-font-size-sm);
  }
}
