.card {
  height: 100%;

  @include mantine.larger-than(mantine.$mantine-breakpoint-lg) {
    padding: var(--mantine-spacing-xl);
  }
}

.list {
  font-size: var(--mantine-font-size-xs);

  @include mantine.larger-than(mantine.$mantine-breakpoint-lg) {
    font-size: var(--mantine-font-size-sm);
  }
}
