.container {
	overflow: hidden;

	@include hover {
		.image {
			transform: scale(1.1);
		}
	}
}

.image {
	transition: 0.5s all ease;

	transform: scale(1.15);
}

.close {
	background-color: var(--mantine-color-pri-6);
	color: var(--mantine-color-sec-3);

	@include hover {
		background-color: var(--mantine-color-pri-6);
		color: var(--mantine-color-white);
	}
}
