.header {
  // background-color: var(--mantine-color-body);
  // border-top: 1px solid var(--mantine-color-default-border);
}

.link {
  color: var(--mantine-color-white);
  transition: 0.25s all ease;

  @include mantine.hover {
    color: var(--mantine-color-sec-3);
  }
}
