.card {
	height: 100%;
	border-bottom: 3px dotted var(--mantine-color-pri-9);
	border-right: 3px dotted var(--mantine-color-pri-9);
	background-color: var(--mantine-color-sec-2);
	color: var(--mantine-color-pri-9);
}
