.input {
  border-color: transparent !important;
  background-color: transparent !important;
  /* font-size: var(--mantine-font-size-xs); */
  padding: 0 !important;
  padding-right: var(--mantine-spacing-xs) !important;
  border-radius: 0 !important;
}
