.input {
  @include mantine.larger-than(mantine.$mantine-breakpoint-xs) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 320px;
  }
}

.button {
  @include mantine.larger-than(mantine.$mantine-breakpoint-xs) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
