.card {
  transition: 0.25s all ease;
  background-color: var(--mantine-color-body) !important;
  border-radius: var(--mantine-radius-lg);
  height: 100%;
}

.icon {
  transition: 0.25s all ease;
  background-color: var(--mantine-color-sec-3);
  color: var(--mantine-color-pri-8);
}
