.card {
  background-color: light-dark(
    var(--mantine-color-pri-7),
    var(--mantine-color-pri-7)
  ) !important;
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
  height: 100%;
  position: relative;
  overflow: hidden;

  transition: 0.25s all ease;

  @include hover {
    box-shadow: var(--mantine-shadow-sm);

    .image {
      transform: scale(1.1);
    }

    .title {
      color: light-dark(
        var(--mantine-color-sec-3),
        var(--mantine-color-sec-3)
      ) !important;
    }
  }
}

.imageContainer {
  overflow: hidden;
}

.image {
  transition: 0.25s all ease;
  transform: scale(1.05);
}

.title {
  transition: 0.25s all ease;
  color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  ) !important;
}

.desc {
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000000, $alpha: 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
